
.ownTable__table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.ownTable__tableNav {
    display: flex;
    padding-bottom: 50px;
}

.ownTable__search {
    width: 300px;
    font-size: 18px;
}

.ownTable__addButton {
    margin-left: 50px;
    width: 200px;
    height: 50px;
    background-color: #aacc66;
    color:white;
    font-size: 18px;
    border: 2px solid #88aa44;
}

.ownTable__addButton:hover {
    background-color: #88aa44;
    cursor: pointer;
}

.ownTable__thead {}

.ownTable__th {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #555555;
    background-color: #aacc66;
    text-transform: capitalize;
}

.ownTable__th:hover {
    background-color: #777777;
}

.ownTable__tbody {}

.ownTable__tbody .ownTable__tr:nth-child(even) {
    background-color: #ccd8c2;
}

.ownTable__tbody .ownTable__tr:nth-child(odd) {
    background-color: #dce1d9;
}

.ownTable__tbody .ownTable__tr:hover {
    background-color: #bbbbbb;
}

.ownTable__tr {}

.ownTable__td {
    font-size: 16px;
    padding: 5px 7px;
    border: 1px solid #555555;
}

.ownTable__deleteButton {
    border: 2px solid rgba(0,0,0,0);
    background-color: #ff7777;
    font-size: 1rem;
    color: #ffffff;
}

.ownTable__deleteButton:hover {
    background-color: #ff0000;
    cursor: pointer;
}

.ownTable__deleteButton:active {
    border: 2px solid #aa0000;
    background-color: #ff4444;
}

.ownTable__addInput {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border-width: 1px;
}

.ownTable__addInputEmpty  {
    border-color: red;
    border-width: 2px;
}
